html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: large;
}

a {
  color: inherit;
  text-decoration: none;
}
.largeFont{
  font-size:16px;
}
* {
  box-sizing: border-box;
}

a.buttonFeel{
  border: 1px solid #736013;
  border-radius: 25%;
  padding: 5px;
}

a.buttonFeel:hover{
  text-decoration: underline;
}

.oliveBG{
  background-color:#736013;
  color: #c87620;
  
}
.beigeBG{
  background-color: #DDC7A0;
  color: #722720;
}
.containerColumn {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: space-evenly;
}

.containerRow {
  display: flex;
  flex-direction: row;
  gap: 25px;
  justify-content: space-evenly;
}

.centerContainerItem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.standardContainerItem {
  display: flex;
  align-self: flex-start;
  justify-content: center;
}